/* CSS Normalize */
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

/* Box-sizing border-box */
* { box-sizing: border-box; }


html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:0;
  padding:0;
  text-align: center;
  color: #ddd;
  background-image: url(images/chalkboard.png);
  background-size: cover;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
}

img {
  max-width: 100%;
}

#homepic {
  padding: 4px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#logo {
  max-width: 90%;
  margin-top: 20px;
  border-radius: 4px;
}
.links {
	margin: 10px auto;
	font-size: 30px;
}

.links i {
	padding: 0px 3px;
	color: white;
}

.textbox p {
  font-size: 28px;
  font-family: 'Kalam', cursive;
  list-style: none;
  text-align: left;
  margin-top: 20px;
  margin-left: 3%;
}

.textbox .body {
  font-size: 20px;
  font-size: calc(20px + 8 * ((100vw - 300px) / (1350 - 300)));
  font-size: -webkit-calc(20px + 8 * ((100vw - 300px) / (1350 - 300)));
}

.photos p {
  margin: 0;
}

#map {
  height: 300px;
  height: calc(300px + 200 * ((100vw - 300px) / (1350 - 300)));
  margin-top: 20px;
}

.head, #p4 {
  color: #FFB6C1;
}

.body {
  text-indent: 20px;
}

#p1, .textbox p a {
  color: #ADD8E6;
}

#p3 {
  color: #FFFF66;
}

#comments {
  font-size: 18px;
}

footer {
  max-width: 95%;
  font-size: 18px;
  margin-bottom: 10px;
}


.nav h1 {
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  font-size: calc(20px + 4 * ((100vw - 300px) / (1350 - 300)));
  font-size: -webkit-calc(20px + 4 * ((100vw - 300px) / (1350 - 300)));
  border-radius: 4px;
  padding: 4px 0;
}

.nav h1:hover, .active {
  background-color: rgba(100,100,100,0.3);
}



a .active, a:hover, #p2, footer a {
  color: #9DCB63;
  text-decoration: none;
}

a {
  color: #eee;
}

 
@media only screen and (min-width: 768px) {
  
  #yelplogo {
    max-width: 130px;
  }
  
  #fblogo {
    max-width: 83px;
  }
}