html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin:0;
  padding:0;
  text-align: center;
  color: #ddd;
  background: url(images/chalkboard.png) no-repeat fixed center;
  background-size: cover;
  font-family: 'Lato', 'Helvetica Neue', 'Helvetica', sans-serif;
}

img {
  max-width: 100%;
}

#homepic {
  padding: 4px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#logo {
  max-width: 90%;
  margin-top: 20px;
  border-radius: 4px;
}

#fblogo {
  max-width: 64px;
  padding: 0;
  background-color: #3B5998;
  border: none;
  border-radius: 4px;
  margin-top: 20px;
}

#yelplogo {
  max-width: 100px;
  background-color: #d32323;
  padding: 0;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  margin-top: 20px;

}



.textbox p {
  font-size: 28px;
  font-family: 'Kalam', cursive;
  list-style: none;
  text-align: left;
  margin-top: 20px;
  margin-left: 3%;
}

.textbox .body {
  font-size: 20px;
  font-size: calc(20px + 8 * ((100vw - 300px) / (1350 - 300)));
  font-size: -webkit-calc(20px + 8 * ((100vw - 300px) / (1350 - 300)));
}

.photos p {
  margin: 0;
}

#map {
  height: 300px;
  height: calc(300px + 200 * ((100vw - 300px) / (1350 - 300)));
  margin-top: 20px;
}

.head, #p4 {
  color: #FFB6C1;
}

.body {
  text-indent: 20px;
}

#p1, .textbox p a {
  color: #ADD8E6;
}

#p3 {
  color: #FFFF66;
}

#comments {
  font-size: 18px;
}

footer {
  max-width: 95%;
  font-size: 18px;
  margin-bottom: 10px;
}


.nav h1 {
  text-align: center;
  font-weight: 900;
  font-size: 20px;
  font-size: calc(20px + 4 * ((100vw - 300px) / (1350 - 300)));
  font-size: -webkit-calc(20px + 4 * ((100vw - 300px) / (1350 - 300)));
  border-radius: 4px;
  padding: 4px 0;
}

.nav h1:hover, .active {
  background-color: rgba(100,100,100,0.3);
}



a .active, a:hover, #p2, footer a {
  color: #9DCB63;
  text-decoration: none;
}

a {
  color: #eee;
}

 
@media only screen and (min-width: 768px) {
  
  #yelplogo {
    max-width: 130px;
  }
  
  #fblogo {
    max-width: 83px;
  }
}
